<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="window.location.href='/registrar_estudiante'">
        Un Estudiante
    </button>

    <button onclick="window.location.href='/carga_masiva'">
        Carga Masiva
    </button>

    <button onclick="window.location.href='/dash_principal'">
        DashBoard
    </button>

</body>

    <style>
        body{
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            gap: 10px;
        }

        button{
            background-color: black;
            color: white;
            padding: 10px;
            font-size: 20px;
            border-radius: 10px;
            cursor: pointer;
        }

    </style>

</html>